doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/styles.css")
    title Creation Successful

  body
    include ../partials/navbar.pug
    h1(class="centered-text") New employee successfully created!
    h2(class="centered-text")= `Name: ${newEmployee.firstName} ${newEmployee.lastName}`
    h3(class="centered-text")= `Email address: ${newEmployee.email}`
    h3(class="centered-text")= `Phone number: ${newEmployee.phoneNumber}`

    h5(class="centered-text") (You will automatically be redirected to the dashboard within 5 seconds.)

    script.
      setTimeout(() => {
        window.location.href = `/dashboard`;
      }, 5000);
