doctype html
html
  head
    title Success
    link(rel="stylesheet" href="/css/styles.css")

  body
    //- include partials/navbar.pug

    h1= `Update to the ${type} complete!`
    p You will be redirected in a few seconds.

script.
  setTimeout(() => {
    window.location.href = `/distribution/!{type}/1`;
  }, 2000);
