canvas(id="bouldersPerSetterChart" width="2000" height="900")

script.
  const boulderSetterCount = JSON.parse('!{JSON.stringify(metrics.boulderSetterCount)}');

  const ctxBouldersPerSetter = document.getElementById('bouldersPerSetterChart');
  const bouldersPerSetterChart = new Chart(ctxBouldersPerSetter, {
    type: 'bar',
    data: {
      labels: Object.keys(boulderSetterCount),
      datasets: [
        {
          data: Object.values(boulderSetterCount),
          label: 'Total Boulders',
          backgroundColor: 'black',
          fill: false
        },
      ]
    }
  });
