canvas(id="routesPerSetterChart" width="2000" height="900")

script.
  const routeSetterCount = JSON.parse('!{JSON.stringify(metrics.routeSetterCount)}');

  const ctxRoutesPerSetter = document.getElementById('routesPerSetterChart');
  const routesPerSetterChart = new Chart(ctxRoutesPerSetter, {
    type: 'bar',
    data: {
      labels: Object.keys(routeSetterCount),
      datasets: [
        {
          data: Object.values(routeSetterCount),
          label: 'Total routes',
          backgroundColor: 'black',
          fill: false
        },
      ]
    }
  });
