canvas(id="routesPerColorChart" width="2000" height="900")

script.
  const routesPerColor = JSON.parse('!{JSON.stringify(metrics.routeColorCount)}');
  delete routesPerColor.Pink
  let routeColors = Object.keys(routesPerColor).map(color => color === 'Blank' ? 'gray' : color.toLowerCase());

  const ctxRoutesPerColor = document.getElementById('routesPerColorChart');
  const routesPerColorChart = new Chart(ctxRoutesPerColor, {
    type: 'pie',
    data: {
      labels: Object.keys(routesPerColor),
      datasets: [
        {
          borderColor: 'black',
          borderWidth: 1,
          data: Object.values(routesPerColor),
          backgroundColor: routeColors,
          hoverOffset: 4
        },
      ]
    }
  });
